
html,
body {
    font-family: Montserrat, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
    height: 100vh;
    /* background: url(/banner/bar-landing-logo.jpg) no-repeat 50% 50%;
    background-size: cover; */
    overflow: hidden;
    background-size: cover;
    background-position: center;
    animation-name: background;
    animation-duration: 24000ms;
    animation-iteration-count: infinite;
}

header::after {
    content: "";
    display: none;
    background-image: url(/banner/1.jpg), url(/banner/2.jpg), url(/banner/3.jpg), url(/banner/4.jfif), url(/banner/5.jpg);
}

@keyframes background {
  0%, 20.8333333333% {
    background-image: url("/banner/1.jpg");
  }
  25%, 45.8333333333% {
    background-image: url("/banner/2.jpg");
  }
  50%, 70.8333333333% {
    background-image: url("/banner/3.jpg");
  }
  75%, 95.8333333333% {
    background-image: url("/banner/4.jfif");
  }
  100% {
    background-image: url("/banner/5.jpg");
  }
}


.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
    z-index: 1;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #ffffff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.black ul {
    background: #000;
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
}

nav ul li a {

    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #ffffff;
    display: none;
}

li>.navbar-item {
    text-decoration: none;
    transition-delay: 0.1s;
    transition-property: all;
    transition-duration: 0.3s;
    font-size: 20px;
    font-weight: bold;
}

.menu .navbar-item::before {
    content: "- ";
    opacity: 0;
    transition: all 0.5s;
}

.menu .navbar-item:hover::before {
    opacity: 1;
}

.menu .navbar-item::after {
    content: " -";
    opacity: 0;
    transition: all 0.5s;
}

.menu .navbar-item:hover::after {
    opacity: 1;
}

.menu .navbar-item:hover {
    color: wheat;
}


@media(max-width: 786px) {
    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }
    nav ul {
        max-height: 0px;
        background: #000000;
    }
    nav.black ul {
        background: #000000;
    }
    .showing {
        max-height: 34em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }
    .menu-icon {
        display: block;
    }
}

header>.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
}

button .click-me-btn::before {
    content: "- ";    
    opacity: 0;
    transition: 1s;
}

button .click-me-btn:hover::before {
    opacity: 1;   
}

button .click-me-btn::after {
    content: " -";    
    opacity: 0;
    transition: 1s;    
}

button .click-me-btn:hover::after {
    opacity: 1;
}

.scroll-stop .btn {
    transition: transform 1s;
}

.scroll-stop .btn:hover {
    transform: rotateX(360deg) scale(2);
}


.hung-caption {
    font-weight: bold;
    font-size: 50px;
}

.hung-caption2 {
    font-size: 20px;
    padding-bottom: -100px;
}

.hung-about-us {
    text-align: center;
    /*background-image: url(https://voir.ca/voir-content/uploads/2019/03/atwatercc22-1~1475.jpg);*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(https://voir.ca/voir-content/uploads/2019/03/atwatercc22-1~1475.jpg);
    min-height: 800px;
    color: white;
    /* padding-left: 30%;
    padding-right: 30%; */
    height: 100%;
    padding-top: 160px;
    transition-delay: 0.3s;
    transition: ease;
}

.jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
}

.frame-follow-us {
    margin-top: 50px;
    border: 1px dotted lightgrey;
    background-color: rgb(245, 227, 227, .5);
    height: 150px;
    padding: none;
    max-width: 600px;
    border-radius: 40px;
}

.hung-box {
    /*background-color: rgba(0, 0, 0, 0.65);*/
    padding: 20px;
}

.section {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.fullscreen {
    position: relative;
}

.scroll-stop {
    cursor: pointer;
}

.hung-caption3 {

    font-weight: bold;
    font-size: 30px;
}


.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 5%;
}

:root {
    --white: #f7dddc;
  }
  
  .white {
    color: var(--white);
  }