* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

/* chinh le */
.chinhle {
    background-image: url('/img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.col {
    width: 100%;
}

.title-minh {
    background-color: rgb(255, 99, 71,0.6);
    border: 2px solid tomato;
    outline: none;
    border-radius: 40px;
}

.request-chinh {
    border: 1px solid wheat;
    background-color: rgba(236, 218, 184, 0.2);
    border-radius: 30px;
    height: 85%;
    padding-top: 20px;
}


.google-map {
    box-shadow: gray;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* footer */

.f-minh {
    background: black;
}

.f-minh .up-minh {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.f-minh .up-minh .left-minh {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.f-minh .up-minh .left-minh .transform-minh img {
    width: 100px;
}

.f-minh .up-minh .left-minh .transform-minh {
    display: flex;
    justify-content: center;
    align-items: center;
}


.f-minh .up-minh .left-minh .col ul {
    list-style-type: none;
}

.f-minh .up-minh .left-minh .col ul li {
    margin: 10px 0;
    color: cadetblue;
}

.f-minh .up-minh .left-minh .col ul li a {
    text-decoration: none;
    color: crimson;
}

.f-minh .up-minh .left-minh .col ul li a:hover {
    color: #f4f4f4;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}


.right-minh .pics-minh .bounce:hover {
    animation: bounceIn 2s;
}

.f-minh .down-minh {
    display: flex;
    flex-wrap: nowrap;
}

.f-minh .down-minh .left-minh {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    /* width: 80%; */
}

.f-minh .down-minh .left-minh ul {
    display: flex;
}

.f-minh .down-minh .left-minh ul li {
    list-style-type: none;
    margin: 0 10px;
}

.f-minh .down-minh .left-minh ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 15px;
}

.f-minh .down-minh .left-minh ul li a:hover {
    color: rgb(10, 240, 10);
}

/* .f-minh .down-minh .right-minh {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */

.f-minh .down-minh .right-minh ul li {
    list-style-type: none;
    font-size: 15px;
}

.f-minh .down-minh .right-minh ul .flag {
    color: #f4f4f4;
}

.f-minh .down-minh .right-minh ul .flag:hover {
    color: rgb(10, 240, 10);
    cursor: pointer;
}

.bottom-minh {
    background: #444;
}

.bottom-minh p {
    font-size: 15px;
    color: #fff;
    padding-top: 20px;
}