.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

/* chinh le */
.chinhle {
    background-image: url('/img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.col {
    width: 100%;
}

.title-minh {
    background-color: rgb(255, 99, 71,0.6);
    border: 2px solid tomato;
    outline: none;
    border-radius: 40px;
}

.request-chinh {
    border: 1px solid wheat;
    background-color: rgba(236, 218, 184, 0.2);
    border-radius: 30px;
    height: 85%;
    padding-top: 20px;
}


.google-map {
    box-shadow: gray;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* footer */

.f-minh {
    background: black;
}

.up-minh {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.f-minh .up-minh .left-minh {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.transform-minh img {
    width: 70%;
}

.transform-minh {
    display: flex;
    justify-content: center;
    align-items: center;}


.left-minh .col ul {
    list-style-type: none;
}

.left-minh .col ul li {
    margin: 10px 0;
    color: cadetblue;
}

.left-minh .col ul li a {
    text-decoration: none;
    color: crimson;
}

.left-minh .col ul li a:hover {
    color: #f4f4f4;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(0.8);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}


.bounce:hover {
    animation: bounceIn 2s;
}

.bottom-minh {
    background-color: #444444;
    color: #f4f4f4;
}

.bottom-minh p {
    padding-top: 15px;
}