* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0; 
}

.container {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #f7c08a;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #333;
    padding: 13px 20px;
    border: none; 
    cursor: pointer;
}

.btn:hover {
    background: #f7c08a;
    color: #333;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-primary {
    color: #333;
    background: #f7c08a;
}

.clr {
    clear: both;
}

.l-heading {
    font-size: 40px;
}

.py-1 { padding: 10px 0; }
.py-2 { padding: 20px 0; }
.py-3 { padding: 30px 0; }

/* chinh le */
.chinhle {
    background-image: url('/img/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    margin-bottom: 0;
}

.col {
    width: 100%;
}

.request-chinh {
    border: 1px solid wheat;
    background-color: rgba(236, 218, 184, 0.2);
    border-radius: 30px;
}

.row {
    margin: 20px 20px 20px 20px;
}

.google-map {
    border: 2px solid gray;
    box-shadow: gray;
}

/* footer */
.f {
    height: 375px;
    background: black;
    margin-bottom: -235px;
    display: flex;
    justify-content: space-around;
}

.f .up {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 30px;
}

.f .up .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.f .up .left .col ul {
    list-style-type: none;
}

.f .up .left .col ul li {
    margin: 10px 0;
    color: cadetblue;
}

.f .up .left .col ul li a {
    text-decoration: none;
    /* color: #f4f4f4; */
    color: crimson;
}

.f .up .left .col ul li a:hover {
    /* color: rgb(10, 240, 10); */
    color: #f4f4f4;
}

.f .up .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40%;
    justify-content: flex-end;
    align-content: center;
    margin-bottom: 135px;
    margin-top: 50px;
    margin-left: 100px;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
}

.right-item {
    margin-left: 10px;
}

.right-item .bounce:hover {
    animation: bounceIn 2s;
}

.f .down {
    display: flex;
    flex-wrap: nowrap;
    width: 1300px;
}

.f .down .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    width: 80%;
}

.f .down .left ul {
    display: flex;
}

.f .down .left ul li {
    list-style-type: none;
    margin: 0 10px;
}

.f .down .left ul li a {
    text-decoration: none;
    color: #f4f4f4;
    font-size: 15px;
}

.f .down .left ul li a:hover {
    color: rgb(10, 240, 10);
}

.f .down .right {
    margin-left: 200px;
    width: 20%;
}

.f .down .right ul li {
    list-style-type: none;
    font-size: 15px;
}

.f .down .right ul .flag {
    margin-left: 38px;
    color: #f4f4f4;
}

.f .down .right ul .flag:hover {
    color: rgb(10, 240, 10);
    cursor: pointer;
}

.bottom {
    text-align: center;
    background: #444;
    color: #fff;
    padding: 13px;
    height: 70px;
    position: absolute;
    bottom: 0;
    margin-bottom: -308px;
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.bottom p {
    font-size: 15px;
}