.nhan-menu-title {
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    mix-blend-mode: multiply;
    padding: 10px 10px;
    text-align: center;
    
}

.signup-row {
    padding-bottom: 30px;
}

.letter-res {
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgb(29, 27, 22), rgb(24, 18, 18));

}

.letter-sign {
    color: peachpuff;
}
.nhan-newsletter {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
}
.nhan-button {
    background-color: rgb(65, 50, 65);
    border-radius: 2px;
    box-shadow: none;
    width: 43%;
    color: plum;
}
.nhan-button-container {
    display: flex;
}

.nhan-reservation {
    text-align: right;
    padding-right: 40px;
    color: cornsilk;
}
.nhan-res {
    color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-bottom: 20px;
}

.img {
    width: 300px;
    height: 420px;
}

.nhan-card-container {
    text-align: center;
    position: relative; 
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: 450px;
}


.nhan-new-res {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url(https://voir.ca/voir-content/uploads/2019/03/atwatercc22-1~1475.jpg)
}

.nhan-text-block {
    font-size: 25px;
    letter-spacing: 0.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: absolute;
    border: 2px solid white;
    color: blanchedalmond;
    background-color: rgba(36, 32, 32, .6);
    position: absolute;
    padding: 16px 16px;
    bottom: 210px;
    left: 60px;
}

.nhan-text-block-2 {
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif ;
    position: absolute;
    border: 2px solid white;
    color: blanchedalmond;
    background-color: rgb(146, 56, 56);
    position: absolute;
    padding: 16px 16px;
    bottom: 210px;
    left: 45px;
}

.nhan-text-block-3 {
    text-align: center;
    position: absolute;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgba(185, 153, 121, .6);
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    bottom: 200px;
    padding: 12px 12px;
    left: 39px;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: linear-gradient(rgb(214, 83, 148), rgb(223, 196, 43));
  }

  .nhan-card-container:hover .overlay {
    opacity: 0.6;
  }

  .nhan-content {
      
      margin-top: 250px;
      border: 3px solid orange;
      text-align: center;
      font-size: 30px;
  }

  .nhan-card-container:hover .overlay {
    animation: heejin 2s infinite;
}

@keyframes heejin {
    from {bottom: 0px;}
    to {top: 25px;}
}

.nhan-menu-1 {
    padding-top: 30px;
    background-color: rgb(20, 20, 18);
    /* width: 950px; */

  }

  .nhan-wrapper-1 {
      background-color: rgb(20, 20, 19);
    border-top: 3px solid orange;

  } 
  .nhan-autumn-menu {
      width: 100%;
      padding: 20px 20px    ;
      letter-spacing: 0.7rem;
      text-align: center;
      color: rgb(161, 74, 243);
      font-family: Georgia, 'Times New Roman', Times, serif;
      font-size: 30px;
      background-color: rgb(24, 24, 22)   
  
    }

.hung-container {
    background-image: linear-gradient(rgb(20, 20, 19), black);
    padding-bottom: 100px;

    
}

.nhan-bev-menu {
    height: 180px;
    width: 150px;
    display: block;
    margin: auto;
}

.nhan-icon {
    font-size: 30px;
    border-radius: 50px;
  }

.nhan-collection {
    margin-top: 80px;
    padding: 20px 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;

}
.nhan-rc {
    color: palegoldenrod !important;
    font-size: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



  
  .nhan-star {
    max-width: 50px;
    border-radius: 50px;
    text-align: center;
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
            transition:         transform .8s ease-in-out;
  }
  .nhan-star:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
.nhan-icon-rotate {
    display: flex;
    justify-content: center;
}

.nhan-review {
    width: 100%;
    text-align: center;
    font-size: 19px;
    color: peachpuff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
}

.nhan-review-2 {
    color: peru;
}

.nhan-card-container {
    text-align: center;
    background-image: linear-gradient(rgb(66, 27, 27), rgb(146, 56, 56)) !important;
}





